.projectrow{
    text-align: center;
    font-size:3.5rem;
    font-weight:400;
    padding-bottom:2rem;
}
.projectdesc{
    font-size:1rem;
}
.cardcontainer{
    padding-bottom:2rem;
}
.cardbutton{
    margin:5px 5px 5px 0px;
}
.buttonrow{
    padding-top:15px;
}