<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="projectrow">
                Contact
                <span class="thanks">Thanks for taking an interest in me!</span>
            </div>
            <div class="connect-row">Email<span class="connect-row-info">business@mljbrackett.com <a
                        href="mailto:business@mljbrackett.com"><svg width="1em" height="1em" viewBox="0 0 16 16"
                            class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z" />
                            <path fill-rule="evenodd"
                                d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z" />
                        </svg></a></span></div>
            <div class="connect-row">Phone<span class="connect-row-info"><a href="tel:+14169190693">(+1)
                        416-919-0693</a></span></div>
            <div class="connect-row">GitHub<span class="connect-row-info"><a href="https://github.com/MLJBrackett"
                        target="_blank">/MLJBrackett <svg width="1em" height="1em" viewBox="0 0 16 16"
                            class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z" />
                            <path fill-rule="evenodd"
                                d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z" />
                        </svg></a></span></div>
            <div class="connect-row">LinkedIn<span class="connect-row-info"><a
                        href="https://linkedin.com/in/michael-brackett" target="_blank">/Michael-Brackett <svg
                            width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z" />
                            <path fill-rule="evenodd"
                                d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z" />
                        </svg></a></span></div>
            <div class="connect-row">Resume<span class="connect-row-info"><a
                    href="/assets/Resume.pdf" target="_blank">Resume <svg
                        width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z" />
                                <path fill-rule="evenodd"
                                    d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z" />
                        </svg></a></span></div>
        </div>
        
        <div class="col-lg-8">
            <div class="historyrow justify-content-center">
                History
            </div>
            <div class="card-deck">
                <div class="card bg-light">
                    <div class="card-body h-100">
                        <h5 class="card-title">No Frills </h5>&nbsp;
                    </div>
                    <img class="card-img" src="./assets/Nofrills.JPG" alt="Card image cap">
                </div>
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Government and Consumer Services</h5>
                    </div>
                    <img class="card-img" src="./assets/MGCS.jpg" alt="Card image cap">
                </div>
                <div class="card bg-light">
                    <div class="card-body h-100">
                        <h5 class="card-title">Soon to be replaced</h5>&nbsp;
                    </div>
                    <img class="card-img" src="./assets/Water.png" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
</div>