.introcol{
    padding-top: 3.5rem;
}
.himrow{
    font-size:3.5rem;
    font-weight:400;
}

.torontobased{
    padding-left:30px;
    font-size: 1.25rem;
}

.threeheads{
    margin-left:7.5rem;
}

.typed{
    padding-left:15px;
    font-size:1rem;
}

.btn{
    margin-left:15px;
    margin-bottom:10px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    margin-left:20px;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid black;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

@media (max-width: 1200px){
    .himrow{
        font-size:3rem;
    }
    .torontobased{
        font-size:1rem;
    }
    .typed{
        font-size:.75rem;
    }
    .introrow{
        padding-left:3.5rem;
    }
}


@media (max-width: 992px){
    .introrow{
        padding-left:0;
    }
    .threeheads{
        margin-left:0;
        order:2;
    }
    .introcol{
        order:1;
        text-align: center;
        padding-top:0;
        padding-bottom:1.5rem;
    }
    .himrow{
        display:block;
    }
    .torontobased{
        display:block;
        padding-left:0px;
    }
    .typed{
        padding-left:0px;
    }
}