<div class="container">
    <div class="row justify-content-center introrow" style="padding-top: 2rem;">
        <div class="col-lg-4 introcol">
            <div class="row himrow">Hi, I'm Michael.</div>
            <div class="row torontobased">A Toronto based Software Developer</div>
            <span class="typed">also <span id="typed-element"></span></span>
        </div>
        <img class="col-lg-6 threeheads" src="./assets/3 Heads Together.svg">
    </div>
    <div id="btn-group" class="row justify-content-center">
        <button type="button" id="nofrillsbut" class="btn btn-light textbutton">Enzo's No Frills</button>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left align-self-center arrowdivider" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd" d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up arrowdowndivider" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 3.707 5.354 6.354a.5.5 0 1 1-.708-.708l3-3z"/>
          </svg>
        <button type="button" id="mgcsbut" class="btn btn-light textbutton active">Ministry of Government <br> and Consumer Services</button>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right align-self-center arrowdivider" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
        </svg>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down arrowdowndivider" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 0 1 .708 0L8 12.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M8 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
        </svg>
        <button type="button" id="empbut" class="btn btn-light textbutton">Your Employee</button>
        
    </div>
    <div class="row history">
        <div id="parttime">
            <div class="row">
                <div class="col-lg-4 history-desc"><strong>(May 2015 - Today)</strong> Going back in time, for my 15th birthday, I got a job at Enzo’s No Frills. I was excited to meet new people and gain new life skills. During the 5 years (and counting) since then, I’ve met many people and acquired many skills that will help me throughout my personal and professional life. My part-time job has shaped the way I am today and has built a great foundation for my professional life as a Software Engineer.</div>
                <div class="col-lg-6 history-container"><img class="historyimg" src="./assets/Nofrills.JPG"></div>
            </div>
        </div>
        <div id="mgcs">
            <div class="row">
                <div class="col-lg-4 history-desc"><strong>(September 2019 - December 2019)</strong> The start of my professional life. Though it was short, my time at the Ministry of Government and Consumer Services will forever be remembered. Not only because I learned about business and software engineering but also because of the people I met there. It was an incredible experience and one that I cherish.</div>
                <div class="col-lg-6 history-container"><img class="historyimg" src="./assets/MGCS.jpg"></div>
            </div>
        </div>
        <div id="youremp">
            <div class="row">
                <div class="col-lg-4 history-desc"><strong>(Soon - Future)</strong> This spot is reserved for you, thanks for checking out my website and getting this far. I am excited to work with you and your team and looking forward to talking to you. Let's continue my timeline: add your picture beside this text, and let me explain all the great things about your company.</div>
                <div class="col-lg-6 history-container"><img class="historyimg" src="./assets/YourEmp.png"></div>
            </div>
        </div>    
    </div>

    <div class="row justify-content-center">
        <form method="get" action="./assets/Resume.pdf">
            <button type="submit" class="btn btn-dark endbut">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                    <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                  </svg>
                | Resume</button>
         </form>
         <button type="button" class="btn btn-dark endbut">Check out my projects!</button>
    </div>
</div>