.introcol{
    padding-top: 3.5rem;
}
.himrow{
    font-size:3.5rem;
    font-weight:400;
}

.torontobased{
    padding-left:30px;
    font-size: 1.25rem;
}

.threeheads{
    margin-left:7.5rem;
}

.typed{
    padding-left:15px;
    font-size:1rem;
}

.textbutton{
    margin:20px;
}

#btn-group{
    margin-top:.75rem;
}

.historyimg{
    width:50%;
}

.history-container{
    text-align: center;
    min-height: 294px;
}

.history-desc{
    padding:15px;
}

.history{
    text-align: justify;
    margin-left: 15rem;
}

.arrowdowndivider{
    display:none;
}
.endbut{
    margin:15px;
}

@media (max-width: 1200px){
    .himrow{
        font-size:3rem;
    }
    .torontobased{
        font-size:1rem;
    }
    .typed{
        font-size:.75rem;
    }
    .introrow{
        padding-left:3.5rem;
    }
    .history{
        margin-left: 10rem;
    }
    .historyimg{
        width:75%;
    }
    .history-container{
        min-height:387px;
    }
}


@media (max-width: 992px){
    .introrow{
        padding-left:0;
    }
    .threeheads{
        margin-left:0;
        order:2;
    }
    .introcol{
        order:1;
        text-align: center;
        padding-top:0;
        padding-bottom:1.5rem;
    }
    .himrow{
        display:block;
    }
    .torontobased{
        display:block;
        padding-left:0px;
    }
    .typed{
        padding-left:0px;
    }
    .textbutton{
        margin:10px;
    }
    .history{
        margin-left: 0rem;
    }
    .historyimg{
        width: 30%;
    }
    .history-desc{
        min-height: 126px;
    }
}

@media (max-width: 768px){
    .arrowdivider{
        display:none;
    }
    .arrowdowndivider{
        display:block;
        margin-left:45%;
    }
    .history-desc{
        min-height: 174px;
    }
    #btn-group{
        display:grid;
    }
}

@media (max-width: 576px){
    .history-desc{
        min-height: 270px;
    }
    .history-container{
        min-height: 359px;
    }
    .historyimg{
        width:50%;
    }
    .row{
        margin-left:0px !important;
        margin-right:0px !important;
    }
}