<div class="container">
    <div class="row justify-content-center introrow" style="padding-top: 2rem;">
        <div class="col-lg-4 introcol">
            <div class="row himrow">Hi, I'm Michael.</div>
            <div class="row torontobased">A Toronto based Software Developer</div>
            <span class="typed">also <span id="typed-element"></span></span>
        </div>
        <img class="col-lg-6 threeheads" src="./assets/3 Heads Together.svg">
    </div>

    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h4>Timeline</h4>
                <ul class="timeline">
                    <li>
                        <strong>Enzo's No Frills</strong><br>
                        <small><i>May 2015 - Today</i></small>
                        <p>For my 15th
                            birthday, I got a job at Enzo’s No Frills. I was excited to meet new people and gain new life
                            skills. During the 5 years (and counting) since then, I’ve met many people and acquired many skills
                            that will help me throughout my personal and professional life.</p>
                    </li>
                    <li>
                        <strong>Ministry of Government and Consumer Services</strong><br>
                        <small><i>Sep 2019 - Dec 2019</i></small>
                        <p>Though it was short, my time at the Ministry of Government and Consumer Services
                            taught me key skills used in the business and software engineering world. The MGCS has set an
                            incredible foundation for my future life.</p>
                    </li>
                    <li>
                        <strong>Your Employee</strong><br>
                        <small><i>Soon - Future</i></small>
                        <p>This spot is reserved for you,
                            thanks for checking out my website and getting this far. I am excited to work with you and your team
                            and looking forward to talking to you. Let's continue my timeline and let me explain all the great things about your company.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <a type="submit" href="./assets/Resume.pdf" target="_blank" class="btn btn-outline-dark">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z" />
                <path fill-rule="evenodd"
                    d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z" />
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z" />
            </svg>
            | Resume</a>
        <button type="button" routerLink="/projects" class="btn btn-outline-dark">Check out my projects!</button>
    </div>
</div>